.main {
    min-height: 600px;
}

input[type=text] {
    width: auto;
    min-width: 500px;
}

textarea {
    width: 80%;
    min-height: 400px;
}

body {
    font-size: 100%;
}

.serif{
    font-family: serif;
}
.brand{
    font-size: 150%;
}
.bold{
    font-weight: bold;

}

.border{
    padding:4px;
    margin:-4px;
}