<?xml version='1.0' encoding="UTF-8"?>
<phpunit backupGlobals='false'
         bootstrap="./tests/Bootstrap.php"
         backupStaticAttributes="false"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         debug="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Simple Rest Demo test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>