{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
    <img src="https://gravatar.com/avatar/{{ gravatarUrl }}" alt="gravatar">
</div>
<div class="row">
    Username: {{ user.account.username }}
</div>
<div class="row">
    Email: {{ user.account.email }}
</div>
{% endblock %}