{% extends "layout.html.twig" %}
{% block content %}
 <form method="POST">
 {{ form_widget(form) }}
 <input type="submit" value="Create" />
 <input type="reset" value="Reset" />
 </form>
{% endblock %}