{% extends 'layout.twig' %}
{% block content %}
    <h3>Snippets for "{{ category.title }}"</h3>
    {% include 'include/snippet-list.twig' %}
    <div class="row">
        <section class="col-md-12">
            {% include 'include/pager.twig' %}
        </section>
    </div>
{% endblock %}
