{% extends 'layout.twig' %}
{% block content %}
<h3>Snippets for "{{category.title}}"</h3>
<div class="row">
{% for  snippet in snippets %}
    <section class="col-md-6">
        {% include "include/snippet-row.twig" %}
    </section>
{% endfor %}
</div>
{% endblock %}
