{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
        <h3 class="col-md-12">Latest snippets</h3>
            <hr class="col-md-12"/>
        {% for  snippet in snippets %}
        <section class="col-md-6">
            {% include "include/snippet-row.twig" %}
        </section>
        {% endfor %}
        <section class="col-md-12">
            {%include 'include/pager.twig'%}
        </section>
    </div>
{% endblock %}


