{% extends 'layout.twig' %}
{% block content %}
    <form class="form form-join" role="form"  method="POST">
        <fieldset>
            <legend>Join</legend>
            {% if error %}
                <p class="text-danger">
                    {{error}}
                </p>
            {% endif %}
            {% for field in form.getFields() %}
                {% if field.hasError() %}
                    <p class="text-danger">
                        {{field.getError()}}
                    </p>
                {% endif %}
                <div class="form-group">
                    {% autoescape false %}
                        {{ field.toHTML() }}
                    {%endautoescape%}
                </div>
            {% endfor %}
            <div class="form-group">
                <input class="btn btn-default" type="reset"  /> 
                <input class="btn btn-default" type="submit" />
            </div>
        </fieldset>
    </form>
{% endblock %}
