<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
</head>
<body>
     
    <main class="container container-narrow">
        <div class="header">
            <!--<ul class="nav nav-pills pull-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>-->
            <h2 class="text-muted"><a href="/" class="brand">{{title}}</a> <small><small>manage your snippets online</small></small></h2>
        </div>
            <p class="lead">&nbsp;</p>
            {% block content %}{% endblock %}
        <footer class="footer">
            <p>&copy; mparaiso <mparaiso@online.fr> 2014</p>
        </footer>
    </main>
   
    {% block scripts %}{% endblock %}
</body>
</html>
