.container {
    max-width: 66%;
    min-width:480px;
    font-family: 'Roboto', sans-serif;;
}
.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.brand{
    color:inherit!important;
    text-decoration: none!important;
}
