html:{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
}
a{
    color:#3297DA;
}
.container {
    max-width: 66%;
    min-width:480px;
    font-family: 'Roboto', sans-serif;;
}
.content{
    min-height:760px;
}
.truncate{
    white-space: nowrap;
    overflow: hidden;
    line-height:1.5em;
    text-overflow: ellipsis;
}
.brand{
    text-decoration: none!important;
    color:#D35300!important;
    font-family: 'Lobster', serif;
}
.pumkin{
    color:#D35300!important;
}
.green-sea{
color:#15A186!important;
}
