{% if item_count && item_per_page %}
<ul class="pager">
    {% if offset>0 %}
    <li class="previous"><a href="?&offset={{ offset-1 }}">Previous</a></li>
    {% endif %}
    {% if (item_count % item_per_page) == 0 && item_count != 0 %}
    <li class="next">
        <a href="?&offset={{ offset+1 }}">Next</a>
    </li>
    {% endif %}
</ul>
{% endif %}