<h3>Create {{ resourceName|default('resource') }}</h3>
<div>
    <form method="POST">
        {{ form_widget(form) }}
        <input class='btn' type="submit" value="Create">
        <input class='btn'  type="reset" value="Reset">
    </form>
</div>
