/**
 * Feuille de style less pour SnippetD
 * @author mparaiso <mparaiso@online.fr>
 * @todo styler la fleche du select 
 */
/**
 * FUNCTIONS
 */
/**
 *
 * ANIMATION 
 */
.sd-hide {
  opacity: 1;
}
.sd-hide-active {
  opacity: 0;
  line-height: 0;
}
/**
 * STYLES
 */
html {
  -webkit-font-smoothing: none;
}
body {
  background-color: #494949;
  color: #eeeeee;
  font-family: "Open Sans", Lato, Tahoma, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-width: 590px;
  min-height: 480px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
small {
  font-size: 50%;
}
h1 {
  font-family: Georgia, serif;
  font-size: 190%;
  margin: 0;
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 10px;
  font-weight: normal;
  color: #FFF;
  text-shadow: 1px 1px #000000;
}
h1 a {
  color: #eeeeee;
  text-decoration: none;
}
.header {
  width: 100%;
  max-width: 960px;
  min-width: 590px;
  top: 0;
  background: #494949;
}
hr {
  border: none;
  border-top: 1px solid #3c3c3c;
  border-collapse: collapse;
  margin: 0px;
  background: #232323;
}
button {
  cursor: pointer;
  padding: 4px 5px;
  border: 1px solid #626262;
  background-image: linear-gradient(#7b7b7b, #6e6e6e);
  box-shadow: inset 1px 1px 2px #7F7F7F;
}
button a {
  color: #eeeeee;
  text-shadow: -1px -1px #494949;
  text-decoration: none;
}
button:hover {
  background-image: linear-gradient(#de1d2f, #b01725);
  box-shadow: inset 1px 1px 3px #777;
}
button[disabled] {
  background: #c71a2a;
  border: none;
}
input {
  color: #494949;
  font-weight: bold;
}
input[type=text] {
  font-weight: normal;
  border: 1px solid #626262;
}
input[type=text].search-menu {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  width: 50%;
}
input[type=button] {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #626262;
  background: linear-gradient(#7b7b7b, #6e6e6e);
  box-shadow: inset 1px 1px 2px #7F7F7F;
  text-shadow: -1px -1px #494949;
  padding: 3px 5px;
}
input[type=button]:hover {
  background-image: linear-gradient(#de1d2f, #b01725);
  box-shadow: inset 1px 1px 3px #777;
}
input[disabled] {
  background: #c71a2a !important;
  border: none;
  cursor: not-allowed;
}
/**
 * VALIDATION
 *
 */
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  border: 2px solid #c71a2a !important;
}
input.ng-valid.ng-dirty,
select.ng-valid.ng-dirty,
textarea.ng-valid.ng-dirty {
  border: 2px solid #72c385 !important;
}
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 590px;
}
.padding-5 {
  padding: 5px;
  padding-left: 10px;
}
.menu {
  padding: 5px;
  padding-left: 10px;
  background: linear-gradient(#7b7b7b, #6e6e6e);
  border-top: 1px solid #919191;
  border-radius: 2px;
}
.menu .search-menu {
  width: 50%;
}
.menu .search-menu:focus {
  width: 70%;
}
.sub-menu {
  border-top: 1px solid #5e5e5e;
  padding: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}
select {
  border: none;
  color: #eeeeee;
  background: #2f2f2f;
  padding: 0;
}
select:before {
  width: 20px;
  background: black;
  content: "blop";
  color: white;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear-both {
  clear: both;
  width: 0;
  margin: 0;
  padding: 0;
}
.snippet-list {
  position: relative;
  margin-top: 0px;
  height: 100%;
  padding: 0;
  width: 100%;
  min-height: 640px;
}
.snippet-list .snippet-menu {
  padding: 5px;
  padding-left: 10px;
}
.snippet-edit {
  margin-top: 0px;
}
.snippet-edit .snippet-edit-form {
  padding: 5px;
  padding-left: 10px;
}
.snippet-edit input[type=text] {
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
}
.snippet-edit input[type=button] {
  background-image: linear-gradient(#646464, #555555);
  border: 1px solid #494949;
}
.snippet-edit input[type=button]:hover {
  background-image: linear-gradient(#de1d2f, #b01725);
}
.snippet-edit textarea {
  border: none;
  font-family: monospace;
  width: 100%;
  margin-left: 1px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 0;
}
.snippet-edit .right {
  padding-right: 5px;
}
.snippet-item {
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  padding: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #494949;
  background: #d0d0d0;
  color: #494949;
}
.snippet-item .snippet-header {
  padding: 5px;
  padding-left: 10px;
}
.snippet-item .snippet-name {
  font-weight: bold;
  user-select: all;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-shadow: 1px 1px #eeeeee;
}
.snippet-item:hover {
  background: #eaeaea;
}
.snippet-item .snippet-content {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  padding-top: 7px;
  background: #ffffff;
  font-family: monospace;
  user-select: all;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-right: 0;
  padding-bottom: 5px;
}
.snippet-read .snippet-item .snippet-content {
  max-height: auto !important;
}
.snippet-item .snippet-content pre {
  padding-left: 15px;
  word-wrap: break-word;
}
.snippet-item .snippet-content.black {
  background: #232323;
  color: #eeeeee;
}
.snippet-item .snippet-menu {
  background: linear-gradient(#7b7b7b, #6e6e6e);
}
.snippet-item .snippet-menu input {
  color: #ffffff;
  font-weight: normal;
}
.snippet-item .snippet-category {
  font-family: Lato, sans-serif;
}
.snippet-item .snippet-info {
  padding-right: 5px;
}
.snippet-item .snippet-info .left {
  padding-left: 35px;
}
.options {
  margin-top: 0px;
}
.options fieldset {
  border: none;
  border-bottom: 1px dotted #eeeeee;
}
.options hr {
  font-size: 110%;
  border-bottom: 1px dotted #eeeeee;
}
.spacer-25 {
  height: 25px;
}
.footer {
  max-width: 960px;
  background: linear-gradient(#aaaaaa, #9d9d9d);
  border-top: 1px solid #494949;
  box-shadow: inset 0px 1px 1px #d0d0d0;
  bottom: 0px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.footer ul.pagination {
  padding: 0;
  text-indent: 0;
  margin: auto;
  list-style: none;
}
.footer ul.pagination li {
  margin: auto;
  display: inline-block;
}
.footer ul.pagination li input[type=button] {
  background: linear-gradient(#aaaaaa, #9d9d9d);
  color: #ffffff;
  border: 1px solid #919191;
}
.footer ul.pagination li input[type=button]:hover {
  background: linear-gradient(#de1d2f, #b01725);
}
::-webkit-scrollbar {
  background: #494949;
  width: 13px;
}
::-webkit-scrollbar-button {
  background: #7b7b7b;
  border-bottom: 1px solid #494949;
}
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
}
::-webkit-scrollbar-corner {
  /* 6 */

}
::-webkit-resizer {
  /* 7 */

}
.selection-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selection-enabled {
  user-select: all;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/**
 * ANIMATION
 *
 */
.si-leave,
.si-enter,
.si-move {
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
}
.si-enter {
  opacity: 0;
  -webkit-transform: rotateX(45deg);
}
.si-enter.si-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
}
.si-leave {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
}
.si-leave.si-leave-active {
  opacity: 0;
  -webkit-transform: rotateX(45deg);
}
.si-move {
  opacity: 1;
}
.si-move.si-move-active {
  opacity: 0;
}
