#DirectoryIndex index.php
#FallbackResource /index.php
<IfModule mod_rewrite.c>
# enable content negociation
Options -MultiViews
RewriteEngine On
#RewriteBase /path/to/app
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
</IfModule>

